    {{ if .Site.IsMultiLingual }}
      {{ $siteLanguages := .Site.Languages}}
      {{ $pageLang := .Page.Lang}}
      {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
              {{/* NOTE: in case you want to build a better language switcher ;) */}}
              {{/* <li><a href="{{ $translation.RelPermalink }}" class="active">[{{ .LanguageName }}]</a></li> */}}
            {{ else }}
              {{/*<li><a href="{{ $translation.RelPermalink }}">[{{ .LanguageName }}]</a></li>*/}}
              <li><a href="{{ $translation.RelPermalink }}">[{{ .Lang | upper }}]</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }} {{/* end of multilingual support */}}
